<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_login.css">
    <title>Login - Servizio Clinico Telematico</title>
</head>
<body>

    <div class="login-container">
        <h1>Servizio Clinico Telematico</h1>
        <p>Accedi al tuo account</p>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Accedi</button> 
        </form>
    </div>

</body>
</html>
