<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_medico_Home.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <title>Sezione Medico</title>

</head>
<body>

    <div class="container">
        <h1 id="pageTitle">Sezione Medico</h1>
        <strong>
            <span id="currentDate" style="color: #2c3bb0; "></span>
        </strong>
        <nav>
            <div class="menu-label"><a href="medico_Home.html" style=" color: #afc9de;">MENU</a></div>
            <ul>
                <li><a href="medico_farmaci.html"> - Farmaci</a></li>
                <li><a href="medico_terapie.html"> - Terapie</a></li>
                <li><a href="medico_pazienti.html"> - Pazienti</a></li>
            </ul>
        </nav>

        <section class="notifiche">
            <!-- Qui andranno le notifiche dei pazienti -->
            <div class="notifica">Notifica 1 - Paziente A</div>
            <div class="notifica">Notifica 2 - Paziente B</div>
            <div class="notifica">Notifica 1 - Paziente A</div>
            <div class="notifica">Notifica 2 - Paziente B</div>
            <div class="notifica">Notifica 1 - Paziente A</div>
            <div class="notifica">Notifica 2 - Paziente B</div>
        </section>
    </div>

    <script src="./static/Javascript_medico_Home.js"></script>

</body>
</html>
