<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_medico_terapie.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <title>terapie</title>
</head>
<body>
    <div class="container">
        <h1 id="pageTitle">Terapie</h1>

        <nav>
            <div class="menu-label"><a href="medico_Home.html" style=" color: #afc9de;">MENU</a></div>
            <ul>
                <li><a href="medico_farmaci.html"> - Farmaci</a></li>
                <li><a href="medico_terapie.html"> - Terapie</a></li>
                <li><a href="medico_pazienti.html"> - Pazienti</a></li>
            </ul>
        </nav>

        <section class="notifiche">
            <!-- Qui andranno i nomi dei pazienti con immagini -->
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  TERAPIA ERNIA ALLA SPALLA DEL GINOCCHIO SINISTRO
                </div>
            </div>
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  BRAVO ERNIA
                </div>
            </div>
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  PERÒ MEGLIO SALMO
                </div>
            </div>
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  SALMONELLA
                </div>
            </div>
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  MONA
                </div>
            </div>
            <div class="notifica">
                <img src="https://img.freepik.com/premium-vector/medical-therapy-logo_721155-159.jpg?w=2000" alt="Icona Paziente A" class="icona-paziente">
                <div class="testo">
                  GET CANCER
                </div>
            </div>
        </section>
    </div>
</body>
</html>
