<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_medico_farmaci.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <title>Sezione Farmaci</title>

</head>
<body>

    <div class="container">
        <h1 id="pageTitle"> Farmaci</h1>
        <nav>
          <div class="menu-label"><a href="medico_Home.html" style=" color: #afc9de;">MENU</a></div>
            <ul>
                <li><a href="medico_farmaci.html"> - Farmaci</a></li>
                <li><a href="medico_terapie.html"> - Terapie</a></li>
                <li><a href="medico_pazienti.html"> - Pazienti</a></li>
            </ul>
        </nav>

    <section class="search-bar">
        <script src="./static/Javascript_medico_farmaci.js"></script>
    </section>

    </div>

</body>
</html>
